.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
    background-color: #f0f0f0; /* Choose your desired background color */
  }
  
  .loader p {
    font-size: 20px; /* Adjust the font size as needed */
    color: #333; /* Choose your desired text color */
    margin-left: 10px; /* Add some spacing to the left of the text */
  }
  